main.blog
      .container
            .blog-content
                  .post
                        .row
                              .col-md-2
                                    .left-info
                                          .data
                                                span.month AUG
                                                span.day 3
                                                span.year 2014
                                          .comments
                                                a(href='#')
                                                      span.number-comment 12
                                                      | comments
                              .col-md-10.line-dashed
                                    .circle
                                    .right-blog
                                          .blog-image
                                                img(src='img/blog.png', alt='blog')
                                          .posted
                                                p
                                                      | posted by 
                                                      a(href='#') sara brash
                                          .name-of-blog
                                                a(href='#') Lorem ipsum dolor sit amet
                                          .description-of-blog
                                                p
                                                      | Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most
                                                      | faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work
                                                      | is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of
                                                      | the leading online writing centers that deliver only premium quality essays, term papers, and research papers.
                                          .continue-reading
                                                a.btn-read-more(href='single.html') continue reading
                  .post
                        .row
                              .col-md-2
                                    .left-info
                                          .data
                                                span.month AUG
                                                span.day 3
                                                span.year 2014
                                          .comments
                                                a(href='#')
                                                      span.number-comment 12
                                                      | comments
                              .col-md-10.line-dashed
                                    .circle
                                    .right-blog
                                          .blog-image
                                                img(src='img/blog.png', alt='blog')
                                          .posted
                                                p
                                                      | posted by 
                                                      a(href='#') sara brash
                                          .name-of-blog
                                                a(href='#') Lorem ipsum dolor sit amet
                                          .description-of-blog
                                                p
                                                      | Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most
                                                      | faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work
                                                      | is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of
                                                      | the leading online writing centers that deliver only premium quality essays, term papers, and research papers.
                                          .continue-reading
                                                a.btn-read-more(href='single.html') continue reading
                  .post
                        .row
                              .col-md-2
                                    .left-info
                                          .data
                                                span.month AUG
                                                span.day 3
                                                span.year 2014
                                          .comments
                                                a(href='#')
                                                      span.number-comment 12
                                                      | comments
                              .col-md-10.line-dashed
                                    .circle
                                    .right-blog
                                          .blog-image
                                                img(src='img/blog.png', alt='blog')
                                          .posted
                                                p
                                                      | posted by 
                                                      a(href='#') sara brash
                                          .name-of-blog
                                                a(href='#') Lorem ipsum dolor sit amet
                                          .description-of-blog
                                                p
                                                      | Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most
                                                      | faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work
                                                      | is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of
                                                      | the leading online writing centers that deliver only premium quality essays, term papers, and research papers.
                                          .continue-reading
                                                a.btn-read-more(href='single.html') continue reading
                  .blog-navigation
                        ul.nav
                              li
                                    a(href='#')
                                          i.fa.fa-angle-left
                              li
                                    a.active(href='#') 1
                              li
                                    a(href='#') 2
                              li
                                    a(href='#') 3
                              li
                                    a(href='#') 4
                              li
                                    a(href='#') 5
                              li ...
                              li
                                    a(href='#') 6
                              li
                                    a(href='#')
                                          i.fa.fa-angle-right
