main.order-form.section-content
      .container
            .row
                  .com-md-12
                        header.section-title
                              h2 Order Form
            .row
                  .col-md-12
                        p
                              | Confused about the difference in pricing of various writing services? We understand! Most services charge a set price-per-page, for anything from a high school 5-paragraph essay to a Ph.D. dissertation. This should raise an immediate red
                              | flag to you. No honest and ethical service can do this without using second-rate writers and databases of pre-written papers.
      section.personal-info
            .container
                  .row
                        .col-md-12
                              .bg-title
                                    span Personal informations
                  .row
                        .col-md-12
                              table
                                    tbody
                                          tr
                                                td
                                                      | First name 
                                                      sup ✱
                                                td
                                                td
                                                      input(type='text')
                                          tr
                                                td
                                                      | Last name 
                                                      sup ✱
                                                td
                                                td
                                                      input(type='text')
                                          tr
                                                td
                                                      | Email 
                                                      sup ✱
                                                td
                                                      .question
                                                            i.fa.fa-question
                                                            .answer
                                                td
                                                      input(type='text')
                                          tr
                                                td
                                                      | Contry code 
                                                      sup ✱
                                                td
                                                td
                                                      .select-product
                                                            select(name='')
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                          tr
                                                td Phone
                                                td
                                                      .question
                                                            i.fa.fa-question
                                                            .answer
                                                td
                                                      input(type='text')
      section.peper-info
            .container
                  .row
                        .col-md-12
                              .bg-title
                                    span Personal informations
                  .row
                        .col-md-12
                              table
                                    tbody
                                          tr
                                                td Subject or discipline
                                                td
                                                      .question
                                                            i.fa.fa-question
                                                            .answer
                                                td
                                                      .select-product
                                                            select(name='')
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                          tr
                                                td
                                                      | Title of your paper 
                                                      sup ✱
                                                td
                                                      .question
                                                            i.fa.fa-question
                                                            .answer
                                                td
                                                      input(type='text')
                                          tr
                                                td Type of assignment
                                                td
                                                td
                                                      .select-product
                                                            select(name='')
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                          tr
                                                td Urgency
                                                td
                                                      .question
                                                            i.fa.fa-question
                                                            .answer
                                                td
                                                      .select-product
                                                            select(name='')
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                          tr
                                                td Writer level
                                                td
                                                      .question
                                                            i.fa.fa-question
                                                            .answer
                                                td
                                                      .select-product
                                                            select(name='')
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                          tr
                                                td Spacing
                                                td
                                                td
                                                      .select-product
                                                            select(name='')
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                          tr
                                                td Currency
                                                td
                                                td
                                                      .select-product
                                                            select(name='')
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                          tr.cost-per-page
                                                td Cost per page
                                                td
                                                td
                                                      span.ml_15.color-span 12.99
                                          tr
                                                td Number of pages
                                                td
                                                      .question
                                                            i.fa.fa-question
                                                            .answer
                                                td
                                                      .select-product
                                                            select(name='')
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                          tr.checkbox-d
                                                td 1-page summary of your paper
                                                td
                                                      .question
                                                            i.fa.fa-question
                                                            .answer
                                                td
                                                      label(for='')
                                                            input(type='checkbox')
                                                            span.price 12.99
                                                            span.currency USD
                                          tr.checkbox-d
                                                td Draft of your paper
                                                td
                                                      .question
                                                            i.fa.fa-question
                                                            .answer
                                                td
                                                      label(for='')
                                                            input(type='checkbox')
                                                            span.price 12.99
                                                            span.currency USD
                                          tr.checkbox-d
                                                td Speaker notes
                                                td
                                                      .question
                                                            i.fa.fa-question
                                                            .answer
                                                td
                                                      label(for='')
                                                            input(type='checkbox')
                                                            span.price 12.99
                                                            span.currency USD
                                          tr
                                                td APA
                                                td
                                                td
                                                      .select-product
                                                            select(name='')
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                                                  option(value='') Hello
                                          tr
                                                td
                                                      | Number of sources / references 
                                                      sup ✱
                                                td
                                                td
                                                      .radio
                                                            label.radio-input.checked(for='us')
                                                                  input#us(type='radio', checked='', value='0')
                                                                  span US writer
                                                            label.radio-input(for='us5')
                                                                  input#us5(type='radio', value='1')
                                                                  span UK writer (+5% to the order total)
                                          tr.cost-per-page
                                                td Total without discount
                                                td
                                                td
                                                      span.ml_15.color-span 12.99
                                          tr
                                                td
                                                      | Your paper instructions 
                                                      sup ✱
                                                td
                                                td
                                                      textarea(name='name', rows='8', cols='80')
                                          tr.attachment
                                                td Attachment
                                                td
                                                td
                                                      a.btn-order-form(href='#') Add file
                                          tr
                                                td
                                                td
                                                td
                                                      .radio-agree
                                                            label.checkbox-input(for='agree')
                                                                  input#agree(type='checkbox', value='0')
                                                                  span US writer
                                                            br
                                                            label.checkbox-input(for='spam')
                                                                  input#spam(type='checkbox', value='1')
                                                                  span UK writer (+5% to the order total)
                                          tr
                                                td Discount code
                                                td
                                                td
                                                      .discount-code
                                                            input(type='text')
                                                            a.btn-order-form(href='#') Apply discount
                                          tr
                                                td Speaker notes
                                                td
                                                      .question
                                                            i.fa.fa-question
                                                            .answer
                                                td
                                                      .cancel
                                                            input(type='text')
                                                            i.fa.fa-times
                                          tr
                                                td
                                                td
                                                td
                                                      a.btn-order-form(href='#')
                                                            i.fa.fa-plus
                                                            | Add writer
                                          tr
                                                td
                                                td
                                                td
                                                      p
                                                            | Disclaimer: the service provided is meant to assist you by providing a guideline. The product provided is intended to be used for research or study purposes.
                                          tr
                                                td
                                                td
                                                td
                                                      .total-price
                                                            p
                                                                  | Grand total price 
                                                                  span.price 20.46
                                                                  span.current USD
                                          tr.order-now
                                                td
                                                td
                                                td
                                                      a.btn-order(href='#') order now
