doctype html
html(lang='en')
      head
            meta(name='viewport', content='width=device-width, initial-scale=1')
            link(href='css/bootstrap.min.css', rel='stylesheet')
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
            link(rel='stylesheet', href='style.css')
            link(href='https://fonts.googleapis.com/css?family=Passion+One', rel='stylesheet', type='text/css')
            link(href='https://fonts.googleapis.com/css?family=Oxygen', rel='stylesheet', type='text/css')
            title Admin
      body
            .container
                  .row.main
                        .main-login.main-center
                              h5 Sign up once and watch any of our free demos.
                              form(method='post', action='/signup')
                                    .form-group
                                          label.cols-sm-2.control-label(for='name') Your Name
                                          .cols-sm-10
                                                .input-group
                                                      span.input-group-addon
                                                            i.fa.fa-user.fa(aria-hidden='true')
                                                      input#name.form-control(type='text', name='name', placeholder='Enter your Name')
                                    .form-group
                                          label.cols-sm-2.control-label(for='email') Your Email
                                          .cols-sm-10
                                                .input-group
                                                      span.input-group-addon
                                                            i.fa.fa-envelope.fa(aria-hidden='true')
                                                      input#email.form-control(type='text', name='email', placeholder='Enter your Email')
                                    .form-group
                                          label.cols-sm-2.control-label(for='surname') Surname
                                          .cols-sm-10
                                                .input-group
                                                      span.input-group-addon
                                                            i.fa.fa-users.fa(aria-hidden='true')
                                                      input#username.form-control(type='text', name='surname', placeholder='Enter your Username')
                                    .form-group
                                          label.cols-sm-2.control-label(for='password') Password
                                          .cols-sm-10
                                                .input-group
                                                      span.input-group-addon
                                                            i.fa.fa-lock.fa-lg(aria-hidden='true')
                                                      input#password.form-control(type='password', name='password', placeholder='Enter your Password')
                                    .form-group
                                          label.cols-sm-2.control-label(for='password') Age
                                          .cols-sm-10
                                                .input-group
                                                      span.input-group-addon
                                                            i.fa.fa-lock.fa-lg(aria-hidden='true')
                                                      input#password.form-control(type='number', name='age', placeholder='Enter your age')                  
                                    .form-group
                                          input#button.btn.btn-primary.btn-lg.btn-block.login-button(type='submit',name='submit')
          
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
            
            script(src='js/bootstrap.min.js')