main.discount.section-content
      .container
            .row
                  .col-md-12
                        header.section-title
                              h2 Discounts for NEW and RETURNING customers!
            .color-section
                  .row
                        .col-md-12
                              h3 RETURNING CUSTOMERS GET 5, 10 OR 15 % DISCOUNTS
                  .row
                        .col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10
                              .first-order
                                    span -20%
                                    span  for first order
            .row
                  .col-md-12
                        p
                              | EssaysService.com focuses on establishing long-term relationships with its customers. Whether your order is small or large, or whether you have a single or multiple orders at one time, you will be able to take advantage of our discounts
                              | for the returning customers!
            .discount-items
                  .discount-item
                        .row
                              .col-lg-offset-1.col-lg-3.col-md-offset-1.col-md-4.col-sm-offset-3.col-sm-6
                                    .discount-5
                                          span.number -5%
                                          span discounts
                              .col-lg-7.col-md-6.col-xs-12
                                    p
                                          | When your total order equals 15 or more pages, you will receive a permanent 5% discount on ALL future orders. The 15 pages can be counted from one or multiple orders.
                  .discount-item
                        .row
                              .col-lg-offset-1.col-lg-3.col-md-offset-1.col-md-4.col-sm-offset-3.col-sm-6
                                    .discount-5
                                          span.number -10%
                                          span discounts
                              .col-lg-7.col-md-6.col-xs-12
                                    p
                                          | When your total order equals 15 or more pages, you will receive a permanent 5% discount on ALL future orders. The 15 pages can be counted from one or multiple orders.
                  .discount-item
                        .row
                              .col-lg-offset-1.col-lg-3.col-md-offset-1.col-md-4.col-sm-offset-3.col-sm-6
                                    .discount-5
                                          span.number -15%
                                          span discounts
                              .col-lg-7.col-md-6.col-xs-12
                                    p
                                          | When your total order equals 15 or more pages, you will receive a permanent 5% discount on ALL future orders. The 15 pages can be counted from one or multiple orders.
            .row
                  .col-md-12
                        p
                              | Whatever your writing needs are, we are ready to provide you with top quality professional writing help for the rest of your academic career! Our professional writers, editors, and customer support professionals are always available and
                              | ready to help you at any time!
