footer.footer
    .container-fluid.footer-top
        .container
            .row
                .col-md-3
                    .logo
                        img(src='../img/logo2.png', alt='Logo')
                    .footer-contact
                            p
                            | Call now: 
                            a(href='#') +1-044-147-0235
                            p
                            | Email: 
                            a(href='#') companyname@gmail.com
                            p
                            | Email: 
                            a(href='#') companyname@gmail.com
                .col-md-9
                    .footer-info
                        p=menu.footText
                        .hidden-text
                            p=menu.footText
                            p=menu.footText
                        a.btn-footer(href='#')
                        i.fa.fa-angle-down
    .container-fluid.footer-bot.footer-line
        .container
            .row
                .col-md-3
                    .social
                        | Join us:
                        a.pinterest(href='#')
                        a.twitter(href='#')
                        a.facebook(href='#')
                .col-md-offset-3.col-md-6
                    .copyright
                        p Copyright © 2016 EssaysService.com