main.samples
      .container
            .sample-item
                  .row
                        .col-md-12
                              .bg-title
                                    span Powerpoint Presentation
                  .sample-content
                        .row
                              .col-md-3.col-sm-2.col-xs-4
                                    .image-download
                                          a(href='#')
                                                img(src='img/pdf.png', alt='download')
                                    .order-now
                                          a.btn-order(href='#') order now
                              .col-xs-8.hidden-md.hidden-lg
                                    .discount
                                          p
                                                | Get 
                                                span 20%
                                                |  discount on the first order
                                    .sample-price
                                          p You can order your custom written paper NOW
                                          p.prices-from
                                                | Prices from 
                                                span $11.99/page
                              .col-md-9
                                    table
                                          tbody
                                                tr
                                                      td Topic:
                                                      td Business Ethics Behavior
                                                tr
                                                      td Number of pages:
                                                      td 6
                                                tr
                                                      td Urgency:
                                                      td 7 days
                                                tr
                                                      td Style:
                                                      td APA
                                                tr
                                                      td Number of sourses:
                                                      td 0
                                                tr
                                                      td Academic level:
                                                      td High School
                              .col-xs-12.hidden-md.hidden-lg
                                    .order-now-991
                                          a.btn-order(href='#') order now
                  .sample-footer
                        .row
                              .col-md-3
                                    .sample-price
                                          p You can order your custom written paper NOW
                                          p.prices-from
                                                | Prices from 
                                                span $11.99/page
                              .col-md-offset-2.col-md-7
                                    .discount
                                          .discount-5
                                                span.number -5%
                                                span discounts
                                          p
                                                | Get 
                                                span 20%
                                                |  discount on the first order
            .sample-item
                  .row
                        .col-md-12
                              .bg-title
                                    span Powerpoint Presentation
                  .sample-content
                        .row
                              .col-md-3.col-sm-2.col-xs-4
                                    .image-download
                                          a(href='#')
                                                img(src='img/pdf.png', alt='download')
                                    .order-now
                                          a.btn-order(href='#') order now
                              .col-xs-8.hidden-md.hidden-lg
                                    .discount
                                          p
                                                | Get 
                                                span 20%
                                                |  discount on the first order
                                    .sample-price
                                          p You can order your custom written paper NOW
                                          p.prices-from
                                                | Prices from 
                                                span $11.99/page
                              .col-md-9
                                    table
                                          tbody
                                                tr
                                                      td Topic:
                                                      td Business Ethics Behavior
                                                tr
                                                      td Number of pages:
                                                      td 6
                                                tr
                                                      td Urgency:
                                                      td 7 days
                                                tr
                                                      td Style:
                                                      td APA
                                                tr
                                                      td Number of sourses:
                                                      td 0
                                                tr
                                                      td Academic level:
                                                      td High School
                              .col-xs-12.hidden-md.hidden-lg
                                    .order-now-991
                                          a.btn-order(href='#') order now
                  .sample-footer
                        .row
                              .col-md-3
                                    .sample-price
                                          p You can order your custom written paper NOW
                                          p.prices-from
                                                | Prices from 
                                                span $11.99/page
                              .col-md-offset-2.col-md-7
                                    .discount
                                          .discount-5
                                                span.number -5%
                                                span discounts
                                          p
                                                | Get 
                                                span 20%
                                                |  discount on the first order
            .sample-item
                  .row
                        .col-md-12
                              .bg-title
                                    span Powerpoint Presentation
                  .sample-content
                        .row
                              .col-md-3.col-sm-2.col-xs-4
                                    .image-download
                                          a(href='#')
                                                img(src='img/pdf.png', alt='download')
                                    .order-now
                                          a.btn-order(href='#') order now
                              .col-xs-8.hidden-md.hidden-lg
                                    .discount
                                          p
                                                | Get 
                                                span 20%
                                                |  discount on the first order
                                    .sample-price
                                          p You can order your custom written paper NOW
                                          p.prices-from
                                                | Prices from 
                                                span $11.99/page
                              .col-md-9
                                    table
                                          tbody
                                                tr
                                                      td Topic:
                                                      td Business Ethics Behavior
                                                tr
                                                      td Number of pages:
                                                      td 6
                                                tr
                                                      td Urgency:
                                                      td 7 days
                                                tr
                                                      td Style:
                                                      td APA
                                                tr
                                                      td Number of sourses:
                                                      td 0
                                                tr
                                                      td Academic level:
                                                      td High School
                              .col-xs-12.hidden-md.hidden-lg
                                    .order-now-991
                                          a.btn-order(href='#') order now
                  .sample-footer
                        .row
                              .col-md-3
                                    .sample-price
                                          p You can order your custom written paper NOW
                                          p.prices-from
                                                | Prices from 
                                                span $11.99/page
                              .col-md-offset-2.col-md-7
                                    .discount
                                          .discount-5
                                                span.number -5%
                                                span discounts
                                          p
                                                | Get 
                                                span 20%
                                                |  discount on the first order
            .row
                  .col-md-12
                        .samples-navigation
                              ul.nav
                                    li
                                          a(href='#')
                                                i.fa.fa-angle-left
                                    li
                                          a.active(href='#') 1
                                    li
                                          a(href='#') 2
                                    li
                                          a(href='#') 3
                                    li
                                          a(href='#') 4
                                    li
                                          a(href='#') 5
                                    li ...
                                    li
                                          a(href='#') 6
                                    li
                                          a(href='#')
                                                i.fa.fa-angle-right
